#intro {
    overflow: hidden;
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 6.7rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 60vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    margin-right: auto;
    max-width: auto;
    padding: 0 2rem 0 1rem;
}

.btn {
    background: white;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btn {
    object-fit: cover;
    margin: 0.5rem 0.25rem;
    height: 2remrem;
}

@media screen and (max-width: 840px) {
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 9.3vw;
    }
    .introPara{
        font-size: 7vm;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px) {
    .bg {
        right: -5vw;
    }
    .introContent {
        font-size: 8vw;
    }
}